# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# build output
/.next/
/out/

# static analysis cache
/.eslintcache

# misc
/.DS_Store
/*.pem

# local env files
.env
/.env
.env*.local
.env.production

# vercel
.vercel

# turbo
.turbo
